.hikelist-button {
    color            : light-dark(black, white);
    background-color : transparent;
    transition       : background-color 0.2s ease;
}

.hikelist-button:hover {
    background-color : var(--custom-highlight-color);
}

.hikelist-button:disabled {
    opacity: 0.5;
}

.hikelist-button:disabled:hover {
    background-color: transparent;
}

.hikelist-element {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    margin-bottom   : 3px;
    width           : 100%;
}

.hikelist-colorpicker {
    width        : 35px;
    height: 35px;
    padding      : 0;
    border       : 1px solid light-dark(black, white);
    border-radius: 50%;
    cursor       : pointer;
    transition   : transform 0.2s ease;
}

.hikelist-colorpicker:disabled {
    opacity : 0.5;
    cursor  : not-allowed;
}

.hikelist-colorpicker:disabled:hover {
    transform: none;
}

.hikelist-colorpicker:hover {
    transform : scale(1.1);
}

#hike-panel-title {
    color: var(--custom-text-color);
}

#hike-panel-body {
    height: 100%;
}

.hikelist-div {
    padding: 10px;
}

.custom-upload {
    border     : 1px dotted var(--custom-text-color);
    color      : var(--custom-text-color);
    padding    : 15px;
    text-align : center;
    cursor     : pointer;
}

.custom-upload:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.mantine-Drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}