#topbar-themebutton-group {
    display         : flex; 
    gap             : 10px;
    align-items     : center; 
    justify-content : center;
}

#topbar-buttongroup {
    display         : flex;
    gap             : 20px;
    align-items     : center;
    justify-content : center;
    margin-right    : 0.5rem;
}

.logo {
    width  : 42px;
    height : 42px;
    animation: fadeSlideUp 0.8s ease-out forwards;
}

#logo-title-group {
    display     : flex;
    align-items : center;
    gap         : 10px;
}

.title {
    color : var(--custom-text-color);
    animation: fadeSlideUp 0.8s ease-out forwards;
    opacity: 0;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.version-badge {
    animation: fadeSlideUp 0.8s ease-out forwards;
}

#theme-toggle {
    background-color : transparent;
    transition       : transform 0.2s ease;
}

#theme-toggle:hover {
    transform: scale(1.2);
}

#language-dropdown-hovercard-target {
    cursor: pointer;
}

.language-element {
    cursor: pointer;
    margin: 0px;
    padding: 5px;
}

.language-element:hover {
    background-color: var(--custom-highlight-color);
}

#language-dropdown-hovercard-dropdown {
    padding: 0;
    gap: 0;
}

#language-dropdown {
    gap: 0;
}