.grey-icons {
    color : #6c757d;
}

#topbar-themebutton-group {
    display         : flex; 
    gap             : 10px;
    align-items     : center; 
    justify-content : center;
}

#language-dropdown {
    background-color: transparent; /* Subtle highlight */
    border: 0px solid transparent;
}

#topbar-buttongroup {
    display         : flex;
    gap             : 20px;
    align-items     : center;
    justify-content : center;
    margin-right    : 0.5rem;
}

.logo {
    width  : 42px;
    height : 42px;
}

#logo-title-group {
    display     : flex;
    align-items : center;
    gap         : 10px;
}

.mantine-ActionIcon-root:hover {
    background : none;    
    transform  : scale(1.1);
}